:root {
  --primary: #415d43;
  --dark: #111d13;
  --light: #1e91d6;
  --light-secondary: snow;
  --secondary: #e18335;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.card {
  display:flex;
  flex-direction: row;
  padding:20px;
  background-color: var(--primary);
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: var(--light-secondary);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
}

@media only screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  
}


.enviro-header {
  font-size: 2.5em;
  margin: 10px;
}

.enviro-para {
  display: flex;
  margin: 10px;
  text-align: left;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
  
  font-size: 1.15rem;
}
.secondaryColor {
  color:#e18335;
}

.info-para {
  padding:20px;
  background-color: var(--primary);
  margin: 20px;
  text-align: left;
  margin-bottom: 20px;
  color: var(--light-secondary);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
  line-height: 1.5;
}

.info-para p {
  margin-bottom: .75rem;
}

.chartcontainer {
  margin:100px 20px;
  background-color: var(--light-secondary);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #aaa;
}

.sample-chart-h3 {
  font-size: 2.5em;
  text-align: left;
}
.chart-box {
  margin-left: 10%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
